<div class="universidad-container">
  <div class="menu">
    <div class="logo">
      <img src="https://cdn.freelogodesign.org/thumbs/0fd89e3a65f04e748cd6c1902342ebaf_200x200.png?v=638546381688927730" alt="Logo Vocational Finter">
    </div>
    <!-- Botones del menú -->
    <button mat-button class="inicio" routerLink="/inicio">Inicio</button>
    <button mat-button class="perfil" routerLink="/perfil">Perfil</button>
    <button mat-button class="universidades" routerLink="/universidades/lista">Universidades</button>
    <button mat-button class="carreras" routerLink="/carreras/lista">Carreras</button>
    <button mat-button class="noticias" routerLink="/noticias/lista">Noticias</button>
  </div>
  
  <div class="main-content">
    <div class="header-bar">Universidades</div>
    <div class="search-filter">
      <mat-form-field>
        <input matInput placeholder="Buscar universidad" [(ngModel)]="searchText" (ngModelChange)="applyFilter()">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Tipo" [(value)]="filterType" (selectionChange)="applyFilter()">
          <mat-option value="">Todos</mat-option>
          <mat-option value="Publica">Pública</mat-option>
          <mat-option value="Privada">Privada</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="universidades-list">
      <mat-card class="universidades-card" appearance="outlined" *ngFor="let universidad of filteredUniversidades">
        <mat-card-header>
          <mat-card-title>{{ universidad.nombre }}</mat-card-title>
          <mat-card-subtitle>Ranking: {{ universidad.ranking }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{ universidad.resumen }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button routerLink="/universidades/ver/{{universidad.id}}">Ver</button> 
        </mat-card-actions>
      </mat-card>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>


