.example-container {
  height: 100vh;
}

.drawer {
  width: 10%;
  background-color: #205896;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.drawer .logo img {
  width: 100%;
  max-width: 100px;
  margin-bottom: 20px;
}

.drawer button {
  width: 100%;
  color: white;
  margin-bottom: 10px;
}

.main-content {
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
}
