html, body {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  height: 100%;
}

.left-half, .right-half {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.left-half {
  background-color: #205896; /* Color azul para la mitad izquierda */
  color: white;
  text-align: center;
}

.right-half {
  background-color: #f0f0f0; /* Color de fondo para la mitad derecha */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  width: 100%;
  max-width: 600px; /* Ancho máximo del grid del formulario */
}

mat-form-field, mat-checkbox {
  width: 100%;
}

button[type="submit"], button[routerLink] {
  width: 100%;
  margin-top: 10px;
}
