html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.universidad-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.menu {
  width: 15%;
  background-color: #205896;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.menu .logo {
  width: 100%;
  text-align: center;
}

.menu .logo img {
  width: 80%;
  max-width: 80px;
  margin-bottom: 20px;
}

.menu button {
  width: 100%;
  color: white;
  margin-bottom: 10px;
}

.menu .universidades {
  background-color: #1E88E5;
}

.menu button:hover {
  background-color: #1E88E5;
}

.main-content {
  width: 85%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
  
  .header-bar {
    width: 100%;
    background-color: #205896;
    color: white;
    text-align: left;
    padding: 10px;
    font-size: 24px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-bar span {
    margin-left: 20px;
  }
  
  .header-logo {
    margin-right: 20px;
    width: 100px;
    height: auto;
  }
  
  .portada {
    text-align: center;
    margin: 20px 0;
  }
  
  .portada-img {
    max-width: 100%;
    height: auto;
  }
  
  .descripcion {
    margin: 20px;
  }
  
  .datos-card {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }
  
  .datos-card-content {
    width: 80%;
  }
  
  .datos-column1 {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .datos-column2 {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  
  .datos-column p {
    margin: 5px 0;
  }
  
  